{{#extends 'base'}}
{{#block 'content'}}

<section class="p-3">
    <h1>Login Form!</h1>
    <form method="POST">
        {{{form}}}
        <input type="submit" value="Register" class="btn btn-primary mt-2" />
    </form>
</section>

{{/block}}
{{/extends}}